.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(46, 68, 78);
    line-height: 18px;
    border: none;
    transition-duration: 0.085s;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    width: auto;
    height: auto;
    transition-timing-function: ease-in;
    background-color: #fff;

    &:hover,
    &:focus,
    &:active {
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    }
}

//.DeleteCardButton {
//    opacity: 0.1;
//    font-size: 16px;
//    justify-content: center;
//    align-items: center;
//    color: rgb(46, 68, 78);
//
//    &:hover,
//    &:focus,
//    &:active {
//        color: #DA3849;
//        opacity: 1;
//    }
//}

//.DeleteListButton {
//}
//
//.ListTitleButton {
//    flex-grow: 1;
//    padding: 10px;
//    font-weight: 600;
//    justify-content: space-between;
//    background: #F8F8F8;
//    color: rgb(46, 68, 78);
//    font-size: 14px;
//    border-top-left-radius: 3px;
//}

//.EditCardButton {
//    opacity: 0.1;
//    font-size: 16px;
//
//    &:hover,
//    &:focus,
//    &:active {
//        opacity: 1;
//    }
//}

//.CardButton {
//    background-color: #fcd1f0;
//    background-color: rgba(9, 30, 66, .13);
//}

.Add {
    background-color: #68d2d2;
    color: #091E42;
}

button:disabled.Add {
    color: #ffffff;
    background-color: #b7caf5;
}

//.list {
//    border-radius: 5px;
//    font-weight: 600;
//    font-size: 14px;
//    margin: 8px;
//    width: 268px;
//    height: 48px;
//    background-color: #fcddd1;
//}
//
//.board {
//    font-size: 14px;
//    width: 70px;
//    height: 34px;
//    background-color: #d1f7c4;
//}

//.DeleteBoardButton {
//    border: 0;
//    padding: 0;
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    background: transparent;
//    color: rgb(46, 68, 78);
//    cursor: pointer;
//    font-size: 16px;
//    opacity: 0.8;
//
//    &:hover,
//    &:focus,
//    &:active {
//        color: #DA3849;
//        opacity: 1;
//    }
//}

/*~~~~~~~~~~~~~~~~~ NEW ~~~~~~~~~~~~~~~~~*/

.AddCardBtn {
    //margin: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    cursor: pointer;
    color: #777fa5;

    &:hover {
        color: #000;
        background: #fff;
    }
}

.AddColumnBtnCircle {
    height: 34px;
    width: 34px;
    color: #b9ccf6;
    border: 1px solid #b9ccf6;
    border-radius: 50%;
    font-size: 34px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;

    span {
        margin-left: -1px;
    }
    &:hover {
        color: #000;
        background: #fff;
    }
}
