$line-height: 22px;

.ColumnTitleTextarea {
    height: min-content;
    min-height: 28px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    overflow-wrap: break-word;
    //width: 150px;
    max-width: 145px;
    box-sizing: border-box;
    resize: none;
    background: none;
    margin: 10px 10px 10px 12px;

    font-size: 16px;
    font-weight: 700;
    color: #313F80;

    &:focus{
        background: #ffffff;
    }
}

.CardTitleTextarea {
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 8px;
    margin-bottom: 10px;
    //overflow: ;
    width: 100%;
    //height: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    resize: none;
}