@import '../../Containers/App/variables';

@mixin button-reset {
    /**
    * Сброс стилей у кнопки.
    */
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении;  */
    cursor: pointer;
}

//.Column_Content {
//    width: 268px;
//    background: $background-grey;
//    border-radius: 5px;
//    box-sizing: border-box;
//    font-size: 14px;
//    margin: 8px;
//    display: flex;
//    flex-direction: column;
//    max-height: 100%;
//}
.Columns_content {
    width: 220px;
    min-width: 220px;
    //height: 100%;
    margin-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #e8ecf5;
    border: 1px solid #e8ecf5;
    border-radius: 5px;
}

.Columns_header {
    position: relative;
    height: 40px;
    //padding-left: 12px;
    //padding-top: 8px;
    //padding-bottom: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: #313f80;
    font-weight: 700;

    .squareBtn {
        margin-right: 6px;
    }
}

.Columns_content.newColumn {
    height: 60px;
    font-weight: unset;
    display: flex;
    justify-content: center;
    align-items: center;

    //box-shadow: inset 0px 6px 12px 6px rgba(222,226,236,1);
    box-shadow: inset 2px 3px 6px #dee2ec, inset -2px 3px 6px #dee2ec;
}

.Columns_title {
    display: flex;
    white-space: pre-wrap;
    margin-left: 12px;
}

.Columns_title_number {
    margin-left: 10px;
    height: 22px;
    width: 22px;
    color: #666c73;
    background: #f4f6fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

//.ColumnTitle {
//    display: flex;
//    flex-shrink: 0;
//    height: 48px;
//    align-items: center;
//    color: rgb(46, 68, 78);
//}

.ColumnTitleTextareaWrapper {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.PopoverColumn {
    position: absolute;
    top: 45px;
    left: 195px;
    width: 240px;
    //height: 227px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
}

.Popover_Header {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Popover_Content {
    width: 100%;
}

.Popover_List {
    //width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 10px;
    padding-top: 10px;
    border-top: 1px solid #c2c2c7;

}

.Popover_List_btn {
    padding: 5px;
    background: none;
    border: none;
    margin-bottom: 10px;
    color: #777fa5;
    cursor: pointer;

    &:active {
        transform: translateY(1px);
        filter: saturate(150%);
    }
    &:hover, &:focus {
        color: #9555af;
        border-color: currentColor;
        background-color: white;
    }
}

.Popover_close_btn {
    // используем миксин
    @include button-reset;

    position: absolute;
    top: 12px;
    right: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid #777fa5;
    border-radius: 50%;
    background: none;
    color: #777fa5;
    font-size: 12px;

    &:active {
        transform: translateY(1px);
        filter: saturate(150%);
    }
    &:hover, &:focus {
        color: #9555af;
        border-color: currentColor;
        background-color: white;
    }
    //&:focus{
    //    outline: none;
    //}
}


//~~~~~~~~~~~~~~~~~~~~~ Cards ~~~~~~~~~~~~~~~~~~~~~~
.Cards {
    margin: 5px 4px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Cards_content {
    width: 100%;
    min-height: 35px;
    margin-bottom: 18px;
    background-color: #fff;
    //border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(183, 202, 245, 1);

    &:last-child {
        margin-bottom: 0;
    }
}

.Cards_content.newCard {
    background-color: #f2f4f8;
}

.Cards_title {
    margin: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.Cards_title.newCard {
    color: #777fa5;
}

//~~~~~~~~~~~~~~~~~~~~~ All ~~~~~~~~~~~~~~~~~~~~~~
.circleBtn {
    height: 34px;
    width: 34px;
    color: #b9ccf6;
    border: 1px solid #b9ccf6;
    border-radius: 50%;
    font-size: 34px;
    text-align: center;
    line-height: 27px;

    span {
        margin-left: -1px;
    }
    &:hover {
        color: #000;
        background: #fff;
    }
}

.squareBtn {
    background: none;
    color: #a4aaab;
    border: 1px solid #a4aaab;
    border-radius: 5px;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 20px;

    &:hover {
        color: #000;
        background: #fff;
    }
}