@import '../../Containers/App/variables';

.card_title {
    background: $white;
    box-shadow: $brand-box-shadow;
    margin: 0 10px 10px 10px;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    overflow-wrap: break-word;
    overflow: visible;
    word-wrap: break-word;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div{
        display: flex;
        flex-flow: row nowrap;
    }
    button{
        padding: 0;
    }
}

.card_title:hover,
.card_title:active,
.card_title:focus {
    box-shadow: $brand-box-shadow-hover;
}