.App {
    text-align: center;
    background: #1F9EF5;
    background: -webkit-linear-gradient(top left, #1F9EF5, #7548EE);
    background: -moz-linear-gradient(top left, #1F9EF5, #7548EE);
    background: linear-gradient(to bottom right, #1F9EF5, #7548EE);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Dashboard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.List {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

}

.List-Content {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.Columns {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 100px;
    max-height: 100%;
    border-radius: 3px;
    background: #ebecf0;

    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
}

.List-Header {
    flex: 0 0 auto;
    padding: 10px 8px;
    position: relative;
    min-height: 20px;

    p {
        background: transparent;
        border-radius: 3px;
        box-shadow: none;
        font-weight: 600;
        margin: -4px 0;
        height: 20px;
        min-height: 20px;
        padding: 4px 8px;
        resize: none;
        max-height: 256px;
        overflow: hidden;
        overflow-wrap: break-word;

        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }

    a {
        color: #fff;
        padding: 6px 8px;
        transition: color 85ms ease-in;
        text-decoration: none;
    }
}

.List-Cards {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;

    .Cards {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
        cursor: pointer;
        display: block;
        margin-bottom: 8px;
        max-width: 300px;
        min-height: 20px;
        position: relative;
        text-decoration: none;
        z-index: 0;

        a {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #5e6c84;
        }

        a:hover {
            color: #091e42;
            background-color: rgba(9, 30, 66, .08);
            text-decoration: none;
        }
        a:active, a:hover {
            outline: 0;
        }

        .list-card-labels {
            overflow: hidden;
            padding: 6px 8px 2px;
            position: relative;
            z-index: 10;
        }
    }
}

.List-Footer {
    min-height: 38px;
    max-height: 38px;
    display: flex;
    justify-content: space-between;

    .open-card-composer {
        border-radius: 3px;
        color: #5e6c84;
        //display: block;
        //flex: 0 0 auto;
        padding: 4px 8px;
        text-decoration: none;
        user-select: none;

        flex-grow: 1;
        //margin: 2px 0 8px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }

    .open-card-composer:active {
        background-color: rgba(9, 30, 66, .13);
    }

    &:active, &:hover {
        outline: 0;
    }

    .open-card-composer:hover {
        background-color: rgba(9, 30, 66, .08);
        color: #172b4d;
        text-decoration: underline;
    }
}

.icon-sm {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 20px;
}

.icon-add {
    color: #6b778c;
    margin-right: 2px;
}

.list-wrapper {
    width: 272px;
    margin: 0 4px;
    min-height: 38px;
    max-height: 38px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: center;
    white-space: nowrap;

    .List-Content {
        background: none;

        a {
            text-decoration: none;
            //color: #ffffff;
            color: #6b778c;
        }
    }
}

.List.mod-add {
    background-color: #ebecf0;
    border-radius: 3px;
    height: auto;
    min-height: 32px;
    padding: 4px;
    transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
}

.list-wrapper.mod-add.is-idle {
    background-color: hsla(0, 0%, 100%, .24);
    cursor: pointer;
}

.list-wrapper.mod-add.is-idle:hover {
    background-color: hsla(0, 0%, 100%, .32);
}